@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil');

/*CSS for Header*/

header {
    background-color: #282c34;
    background-image:  '../Assets/images/bg1.jpg';
   height:250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;   
  }

  toolbar{

        
  }
    logo {
      font-family: 'Allerta Stencil', sans-serif;
      font-size: 500px;
    }
  
  
  
  /*CSS for Footer*/
  
  
  /*CSS for About*/
  
  
  /*CSS for Fridge*/
  
  
  /*CSS for Login*/
  
  
  /*CSS for Profile*/
  
  
  /*CSS for ProfileWelcome*/
  
  
  /*CSS for RecipeSearch*/
  
  
  /*CSS for SignUp*/
  
  
  
  
  
  
  
  
  
  
  
  
  