@import url(https://fonts.googleapis.com/css?family=Poppins);
@import url(https://use.fontawesome.com/releases/v5.3.1/css/all.css);
 
/* 
* Main Styles
* Survey Intake Form Styles
*/

.titleText {
    color: #2699FB !important;

    font-family: 'Poppins', sans-serif !important;
    font-size: 50px !important;
}

.secondText{
    color: #2699FB !important;

    font-family: 'Poppins', sans-serif !important;
    font-size: 20px !important;

}

.thirdText{
    color: #2699FB !important;

    font-family: 'Poppins', sans-serif !important;
    font-size: 20px !important;

}

.text {
     color: grey;
     font-family: 'Poppins', sans-serif;
     text-align: left !important;

}


.textCenter {
    color: grey;
    font-family: 'Poppins', sans-serif;
    text-align: center;

}
 

.bg1 {
    /* The image used */
    background-image: url(../Assets/images/bg1.jpg);

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.transparentBG{
    opacity: .9;
 }


.transparentBgRecipe{
    opacity: .9;
    background-color: #2699FB !important;
}


.recipeCard{
    opacity: .9;
    background-color: white !important;
    padding: 15px 32px;
    margin: 25px;

}

.missIngred{
    background-color: #e05252;
    border-radius: 10px;

}


.usedIngred{
    background-color: #1b981b;
    border-radius: 10px;
	
}

recipeCardText{
color: aliceblue !important;
}

.recipeText{
    color: white !important;

    font-family: 'Poppins', sans-serif !important;
    font-size: 25px !important;

}

.recipeTitle{
    color: aliceblue !important;
    font-family: 'Poppins', sans-serif !important;
    font-size: 50px !important;
}

.recipeImg{
    border-radius: 50%;
    width: 100px;
    height: auto;

}
.recipeCardTitle{
    color:  #2699FB !important;
    font-family: 'Poppins', sans-serif !important;
    font-size: 30px !important;
}
 

/* button alignment to center horizontally */

#btnL,
#btnR{
    display: inline-block !important;
    vertical-align: top !important;
}

 

/* end button alignment */



/* signup page css */

.titleText {
    color: #2699FB !important;

    font-family: 'Poppins', sans-serif !important;
    font-size: 50px !important;
}

.secondText{
    color: #2699FB !important;

    font-family: 'Poppins', sans-serif !important;
    font-size: 20px !important;

}



.homeGraphic {
    width: 100%; 
    height: auto;
    float: right;
}





.headerLogo {
    width: 15%;
    height: auto;
     vertical-align: baseline;

     


}

.center{
    text-align: left;
    align-content: middle;
    margin: auto;
    width: 60%;
    font-size: 200px;
    color: #2699FB;

}

.signupImg {
    background-position: center center;
     background-repeat: no-repeat; 
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     
}


.stretch{
    width: auto;
    height: 800px;
  }
 
/* end signup page css */


/* fridge page */

.fridgeTitle{
    color: white !important;
    font-family: 'Poppins', sans-serif !important;
    font-size: 50px !important;
    text-align: center;
    font-weight: 900;
   /* background-color: rgba(255,255,255,0.9); */


}

.transparentTitle{
    opacity: .8;
 }

.ingredCardTitle{
    color: white !important;
    font-size: 40px;
}

.transparentBgIng{
    opacity: 0;

}

.ingTextColor{
    color: white !important;
}


.ingCard{
    background-color: #2699FB;
    position: absolute;
    bottom: -0px;
    left: 25px;
}


.fridgeCard{
    opacity: .9;
    background-color: white !important;
    padding: 15px 32px;
    margin: 25px;
    height: 300px;
}

.fridgeImg{
    height: 90px;
    width: auto;
}

.cardBg {
    height: 100%;
}

.itemAdd{
    text-align: center !important;
    background: rgba(255, 255, 255, 0.6);
        color: black !important;
        border-radius: 25px;


}
/* end fridge page */

